<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 Not Found</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
<div class="text-center p-8 bg-white rounded shadow-lg max-w-md w-full">
    <h1 class="text-6xl font-bold mb-4 text-gray-800">404</h1>
    <p class="text-xl mb-4">Page not found.</p>
    <a href="/" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">Home</a>
</div>
</body>
</html>